annotated-types==0.7.0
cramjam==2.11.0
dotenv==0.9.9
fastparquet==2024.11.0
fsspec==2025.9.0
numpy==2.3.4
packaging==25.0
pandas==2.3.3
pyarrow==22.0.0
pydantic==2.12.3
pydantic-settings==2.11.0
pydantic_core==2.41.4
PyMuPDF==1.26.5
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
six==1.17.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
